body, ul, h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	padding: 0;
}
html{
	min-width: 1200px;
	line-height: 1.5;
}
html, body, #app{
	height: 100%;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;

}
/*定义代码块*/
/* 清浮动 */
@mixin clearFix {
	zoom: 1;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
/*内容布局*/
@mixin content{
	@include clearFix;
	position: relative;
	height: 100%;
	//height: calc(100vh - 168px);
	background: #fff;
	.right-content {
		//height: 100%;
		//height: calc(100vh - 124px);
		padding-left:50px;
		padding-right: 130px;
		//box-sizing: border-box;
		//flex-grow: 1;
		//float: left;
		margin-left: 380px;
		overflow: hidden;
	}
}
/*下部内容布局*/
.view-box{
	width: 100%;
	height: calc(100% - 116px);
	margin-top: 116px;
	.view-content{
		@include content;
		//position: relative;
		box-sizing: border-box;
		//display: flex;
	}
	.sm-nav{
		position: absolute;
		top: 44px;
		right: 0;
		z-index: 99;
		background: #FFFFFF;
		box-shadow: -2px 2px 3px 0 rgba(0,0,0,0.04);
		border-radius: 2px 0 0 2px;
		ul{
			li{
				height: 18px;
				padding: 4px 10px;
				a{
					line-height: 18px;
					font-size: 12px;
					color: #273B55;
					display: block;
				}
			}
		}
	}
}
.kc-scrollbar__wrap {
	overflow-x: hidden;
}
