body, ul, h1, p {
	margin: 0;
	padding: 0;
}
body{
	padding:0 30px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;
}
/*定义代码块*/
/* 清浮动 */
@mixin clearFix {
	zoom: 1;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
/*内容布局*/
@mixin content{
	//width: 1140px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	.right-content {
		padding-left: 200px;
	}
}
.content{
	@include content;
}
