body, ul, h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	padding: 0;

}
html, body, #app{
	height: 100%;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;
}
/*定义代码块*/
/* 清浮动 */
@mixin clearFix {
	zoom: 1;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
/*内容布局*/
@mixin content{
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding:32px 0;
	background: #fff;
	.right-content {
		padding:0 50px;
		box-sizing: border-box;
		flex-grow: 6;
		overflow: hidden;

	}
}
/*下部内容布局*/
.view-box{
	width: 100%;
	height: calc(100% - 168px);//减去header高度和padding
	padding: 44px 0;
	position: relative;
	background: #F8F8FC;
	overflow: hidden;
	.view-content{
		@include content;
		@include clearFix;
		box-sizing: border-box;
		display: flex;
	}
	.sm-nav{
		position: absolute;
		top: 44px;
		right: 0;
		background: #FFFFFF;
		box-shadow: -2px 2px 3px 0 rgba(0,0,0,0.04);
		border-radius: 2px 0 0 2px;
		ul{
			li{
				height: 18px;
				padding: 4px 10px;
				a{
					line-height: 18px;
					font-size: 12px;
					color: #273B55;
					display: block;
				}
			}
		}
	}
}

