@mixin hCss {
	margin: 30px 0;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	tt, code {
		font-size: inherit;
	}
	a:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	+p {
		margin-top: 10px;
	}
}

.markcss{
	p, blockquote, ul, ol, dl, table, pre {
		line-height: 32px;
		margin: 15px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		@include hCss;
	}
	a{
		color: #b58900;
		text-decoration: none;
		&:focus{
			outline: thin dotted;
		}
		&:link,&:visited {
			color: #b58900;
		}
		&:hover,&:active{
			outline: 0;
			color: #cb4b16;
			text-decoration: underline;
		}
	}
	ul,ol{
		padding-left: 30px;
		li{
			>:first-child,ul:first-of-type,ol:first-of-type{
				margin-top: 0px;
			}
		}
		ul,ol{
			margin-bottom: 0;
		}
	}
	dl{
		padding: 0;
		dt{
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
			padding: 0;
			margin: 15px 0 5px;
			&:first-child{
				padding: 0;
			}
			>&:first-child{
				margin-top: 0px;
			}
			>&:last-child {
				margin-bottom: 0px;
			}
		}
		dd{
			margin: 0 0 15px;
			padding: 0 15px;
			>&:first-child{
				margin-top: 0px;
			}
			>&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	pre, code, tt{
		font-size: 12px;
		font-family: Consolas, "Liberation Mono", Courier, monospace;
	}
	code, tt {
		margin: 0 0px;
		padding: 0px 0px;
		white-space: nowrap;
		border: 1px solid #eaeaea;
		background-color: #f8f8f8;
		border-radius: 3px;
	}
	pre{
		background-color: #f8f8f8;
		border: 1px solid #ccc;
		font-size: 13px;
		line-height: 19px;
		overflow: auto;
		padding: 6px 10px;
		border-radius: 3px;
		>code {
			margin: 0;
			padding: 0;
			white-space: pre;
			color: #338000;
			border: none;
			background: transparent;
		}
		code,tt{
			background-color: transparent;
			border: none;
		}
	}
	blockquote {
		border-left: 4px solid #DDD;
		padding: 0 15px;
		color: #777;
		>&:first-child {
			margin-top: 0px;
		};
		>&:last-child {
			margin-bottom: 0px;
		}
	}
	hr{
		clear: both;
		margin: 15px 0;
		height: 0px;
		overflow: hidden;
		border: none;
		background: transparent;
		border-bottom: 4px solid #ddd;
		padding: 0;
	}
	table{
		width: 100%;
		margin: 0 auto;
		border-collapse:collapse;
		border:none;
		th{
			font-weight: bold;
		}
		th,td{
			border: 1px solid #ccc;
			padding: 6px 13px;
		}
		tr{
			border-top: 1px solid #ccc;
			background-color: #fff;
			&:nth-child(2n) {
				background-color: #f8f8f8;
			}
		}
		tHead{
			tr{
				background-color:#f8f8f8 ;
			}

		}
	}
	img{
		max-width: 100%
	}
	p{
		font-size: 16px;
	}
	#outline-list{
		height: 325px;
		position: fixed;
		overflow-y:scroll;
		overflow-x:hidden;
		bottom: 80px;
		right: 15px;
		width: 220px;
	}
}
