.markcss p, .markcss blockquote, .markcss ul, .markcss ol, .markcss dl, .markcss table, .markcss pre {
  line-height: 32px;
  margin: 15px 0; }
.markcss h1, .markcss h2, .markcss h3, .markcss h4, .markcss h5, .markcss h6 {
  margin: 30px 0;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
  .markcss h1 tt, .markcss h1 code, .markcss h2 tt, .markcss h2 code, .markcss h3 tt, .markcss h3 code, .markcss h4 tt, .markcss h4 code, .markcss h5 tt, .markcss h5 code, .markcss h6 tt, .markcss h6 code {
    font-size: inherit; }
  .markcss h1 a:first-child, .markcss h2 a:first-child, .markcss h3 a:first-child, .markcss h4 a:first-child, .markcss h5 a:first-child, .markcss h6 a:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markcss h1 + p, .markcss h2 + p, .markcss h3 + p, .markcss h4 + p, .markcss h5 + p, .markcss h6 + p {
    margin-top: 10px; }
.markcss a {
  color: #b58900;
  text-decoration: none; }
  .markcss a:focus {
    outline: thin dotted; }
  .markcss a:active, .markcss a:hover {
    outline: 0; }
  .markcss a:hover {
    color: #cb4b16;
    text-decoration: underline; }
  .markcss a:visited {
    color: #cb4b16; }
.markcss ul, .markcss ol {
  padding-left: 30px; }
  .markcss ul li > :first-child, .markcss ul li ul:first-of-type, .markcss ul li ol:first-of-type, .markcss ol li > :first-child, .markcss ol li ul:first-of-type, .markcss ol li ol:first-of-type {
    margin-top: 0px; }
  .markcss ul ul, .markcss ul ol, .markcss ol ul, .markcss ol ol {
    margin-bottom: 0; }
.markcss dl {
  padding: 0; }
  .markcss dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .markcss dl dt:first-child {
      padding: 0; }
    > .markcss dl dt:first-child {
      margin-top: 0px; }
    > .markcss dl dt:last-child {
      margin-bottom: 0px; }
  .markcss dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    > .markcss dl dd:first-child {
      margin-top: 0px; }
    > .markcss dl dd:last-child {
      margin-bottom: 0px; }
.markcss pre, .markcss code, .markcss tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace; }
.markcss code, .markcss tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }
.markcss pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  .markcss pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    color: #338000;
    border: none;
    background: transparent; }
  .markcss pre code, .markcss pre tt {
    background-color: transparent;
    border: none; }
.markcss blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777; }
  > .markcss blockquote:first-child {
    margin-top: 0px; }
  > .markcss blockquote:last-child {
    margin-bottom: 0px; }
.markcss hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0; }
.markcss table {
  margin: 0 auto;
  border-collapse: collapse;
  border: none; }
  .markcss table th {
    font-weight: bold; }
  .markcss table th, .markcss table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .markcss table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
    .markcss table tr:nth-child(2n) {
      background-color: #f8f8f8; }
  .markcss table tHead tr {
    background-color: #f8f8f8; }
.markcss img {
  max-width: 100%; }
.markcss p {
  font-size: 16px; }
.markcss #outline-list {
  height: 325px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 80px;
  right: 15px;
  width: 220px; }

/*# sourceMappingURL=markdown.css.map */
