@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "./input.scss";
@import "./scrollbar.scss";
// @import "./popper";

@include b(autocomplete) {
  position: relative;
  display: inline-block;
}

@include b(autocomplete-suggestion) {
  margin: 5px 0;
  box-shadow: $--box-shadow-light;
  border-radius: $--border-radius-base;

  @include e(wrap) {
    max-height: 280px;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: auto;
    background-color: $--color-white;
    border: 1px solid $--border-color-light;
    border-radius: $--border-radius-base;
  }

  @include e(list) {
    margin: 0;
    padding: 0;
  }

  & li {
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: $--color-text-regular;
    font-size: $--font-size-base;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $--select-option-hover-background;
    }

    &.highlighted {
      background-color: $--select-option-hover-background;
    }

    &.divider {
      margin-top: 6px;
      border-top: 1px solid $--color-black;
    }

    &.divider:last-child {
      margin-bottom: -6px;
    }
  }

  @include when(loading) {
    li {
      text-align: center;
      height: 100px;
      line-height: 100px;
      font-size: 20px;
      color: #999;
      @include utils-vertical-center;

      &:hover {
        background-color: $--color-white;
      }
    }

    & .kc-icon-loading {
      vertical-align: middle;
    }
  }
}
.kc-autocomplete-suggestion__wrap.kc-scrollbar__wrap {
  margin-bottom: 0 !important;
}
.kc-autocomplete-suggestion-query-model {
  // left: 385px !important;

  .query-model-group {
    margin-top: 10px;
    border-bottom: solid 1px #E4E7ED;

    .query-model-title-outer {
      margin-bottom: 10px;

      .query-model-title {
        margin-left: 14px;
        font-size: 14px;
        font-weight: 700;
        color: #252525;
        letter-spacing: 0;
        line-height: 14px;
      }
    }
  
    .query-model-search-url {
      margin-right: 14px;
      font-size: 14px;
      color: $--color-primary;
      letter-spacing: 0;
      line-height: 14px;
    }
  }

  .query-model-group:last-of-type {
    border-bottom: none;
  }
}