.kc-spin {
	color: #2d8cf0;
	vertical-align: middle;
	text-align: center;
}
.kc-spin-dot {
	position: relative;
	display: block;
	border-radius: 50%;
	background-color: #2d8cf0;
	width: 20px;
	height: 20px;
	-webkit-animation: ani-spin-bounce 1s 0s ease-in-out infinite;
	animation: ani-spin-bounce 1s 0s ease-in-out infinite;
}
.kc-spin-large {
	.kc-spin-dot {
		width: 32px;
		height: 32px;
	}
}
.kc-spin-small {
	.kc-spin-dot {
		width: 12px;
		height: 12px;
	}
}
.kc-spin-fix {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .9);
	.kc-spin-main {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.kc-spin-dot {
		display: inline-block;
	}
}
.kc-spin-fullscreen {
	z-index: 2010;
}
.kc-spin-fullscreen-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.kc-spin-show-text .kc-spin-dot,
.kc-spin-text {
	display: none;
}
.kc-spin-show-text {
	.kc-spin-text {
		display: block;
	}
}
.kc-table-wrapper {
	& > .kc-spin-fix {
		border: 1px solid #dddee1;
		border-top: 0;
		border-left: 0;
	}
}
.kc-avatar {
	display: inline-block;
	//margin-right: 16px;
	text-align: center;
	background: #ccc;
	color: #fff;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	& > * {
		line-height: 32px;
	}
	&.kc-avatar-icon {
		font-size: 18px;
	}
	& > img {
		width: 100%;
		height: 100%;
	}
}
.kc-avatar-image {
	background: 0 0;
}
.kc-avatar-large {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	& > * {
		line-height: 40px;
	}
	&.kc-avatar-icon {
		font-size: 24px;
	}
}
.kc-avatar-small {
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 12px;
	& > * {
		line-height: 24px;
	}
	&.kc-avatar-icon {
		font-size: 14px;
	}
}
.kc-avatar-square {
	border-radius: 4px;
}
